<header class="bloghead">
    <a href="/">
        <img class="img-circle" alt="My Avatar" src="/assets/img/avatar.JPG"/>
    </a>
    <h1 class="blogtitle"><a href="/">{{ site.data.blog.title }}</a></h1>
    <h4> {{ site.data.blog.description }} <h4>

    <nav class="menu" role="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/menu.html">Menu</a></li>
            <li>|</li>
            <li><a target="_blank" href="https://github.com/liungkejin">Github</a></li>
            <li>|</li>
            <li><a href="/about.html"> About Me</a></li>
        </ul>
    </nav>
</header>
