<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}
    <body>
        {% include blog_header.html %}

        <main class="blogmain">
            <header>
                <h1 class="article-title">{{ page.title }}</h1>
                <p class="article-time">
                    {{ page.time }},  发表于 <span>{{ page.location }}</span>
                </p>
                <p class="article-hint">
                    如果你对本文有任何的建议或者疑问, 可以在
                    <a href="https://github.com/liungkejin/liungkejin.github.io/issues" target="_blank">这里给我提 Issues</a>, 谢谢! :)
                </p>
            </header>
            {{ content }}
            {% include post_footer.html %}
        </main>

        {% include footer.html %}
    </body>

</html>
